<footer class="bg-dark">
     <div class="container pt-4" id="logo">
     <img src="{{ asset('images/logo_cave_millesimes.svg') }}" class="rounded-0 mx-auto d-block" alt="Logo">

    </div>
    <div class="container">
        <ul class="nav justify-content-center pt-3 simpleNav">
            <li class="nav-item">
                <a class="nav-link" href="#">À propos</a> | 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mentions légales</a> |
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Conditions d'utilisation</a> |
            </li>   
        </ul>
    </div>
    
   
    <div>
        <p class="text-center py-3 simpleNav">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-pinterest"></i></a>
        </p>	
    </div>
{# Ici se termine le footer #}
    <section class="bg-info text-center text-white p-2">
        <div>
            <p>&copy;2021 - Cave &amp; Millésimes</p>
        </div>
    </section>
{# ici se termine le copyright #}


</footer>